*{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body{
	margin: 0;
	padding: 0;
}
header{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	width: 100vw;
	height: 150px;
	background: #efefef;
	position: relative;
}
.post_btn{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	width: 200px;
	height: 60px;
	background: #000;
	color: #fff;
	font-size: 20pt;
	font-weight: 300;
	cursor: pointer;
}
.post_btn:hover{
	opacity: 0.8;
}
.sort_btn{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	width: 30px;
	height: 30px;
	background: #000;
	color: #fff;
	font-size: 20pt;
	font-weight: 300;
	cursor: pointer;
	position: absolute;
	right: 0;
	bottom: 0;
}
input{
	outline: none;
	height: 60px;
	width: 80vw;
	font-size: 20pt;
}

ul{
	text-decoration: none;
	padding: 0;
	margin: 0;
}
ul li{
	display: flex;
	height: 40px;
	width: 100vw;
	cursor: pointer;
	font-size: 25px;
	word-wrap: break-word;
	transition: 1s;
	overflow: hidden;
}
ul li:nth-child(2n){
	background: #bbbbbb;
}
ul li:nth-child(2n+1){
	background: #d7d7d7;
}
.expand, .delete{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	font-size: 25px;
}
.expand{
	color: #555555;
	transition: 500ms;
}
.delete:hover{
	background: #FF4040;
}
.content{
	padding: 5px;
	overflow: hidden;
	font-size: 25px;
}
.data{
	padding: 5px;
	height: auto;
	width: 150px;
	text-align: right;
}

@media screen and (max-width: 600px){
	header{
		flex-direction: column;
	}
	.post_btn{
		margin-top: 10px;
		padding: 5px 10px;
		width: 120px;
		height: 30px;
		font-size: 15pt;
	}
	.data{
		width: 80px;
	}
}