*{
	box-sizing: border-box;
	font-family: 'Raleway', 'Montserrat', sans-serif;
}
body{
	margin: 0;
	padding: 0;
}
.menu_container{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.menu_container b{
	margin: 0 3px;
	color: black;
}
.nav{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	color: white;
	font-size: 23pt;
	font-weight: 100;
	padding: 10px 0;
}
.nav a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	color: white;
}
.menu{
	font-weight: 200;
	display: block;
	border-bottom: 1px solid #000;
}
.menu:nth-child(2){
	margin: 0 21vw;
}

.menu:hover b{
	color: white;
}
/*
 nav a:before{
	content: "\2022\00A0";
	font-size: 36pt;
	font-weight: 500;
	color: black;
 }
 */
 .logo{
	font-weight: 600;
	font-size: 35pt;
	margin-right: 0px;
	position: absolute;
	right: 10px;
 }

 /*Main*/
 .main{
 	display: flex;
 	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
 	overflow: hidden;
 }
 .main img{
 	width: 50vw;
 	height: auto;
 }
 .main .gradient{
 	width: 100%;
 	height: 100%;
 	background: radial-gradient(300% 90%,rgba(0, 0, 0, 0.5),rgba(250,250,250,0.1));
 	position: absolute;
 	z-index: 0;
 	opacity: 0;
 }
 .neple_layer{
 	display: flex;
 	justify-content: center;
	align-items: center;
	text-align: center;
 	font-weight: 100;
 	font-size: 200pt;
	color: white;
 }
 .letterspacing{
 	width: 7vw;
 }
 .main_text{
 	margin-top: 200%;
 	display: flex;
 	justify-content: center;
	align-items: center;
	flex-direction: column;
 	-moz-user-select: none;
  	-khtml-user-select: none;
  	-webkit-user-select: none;
  	user-select: none;
  	transition: 1200ms;
	-webkit-transition: 1200ms;
    -o-transition: 1200ms;
    -moz-transition: 1200ms;
 	position: absolute;
 }
 .main_text hr{
 	display: none;
 	margin-top: -40px;
	background: #fff;
	height: 3px;
	width: 0;
	-webkit-transition: 900ms;
    -o-transition: 900ms;
    -moz-transition: 900ms;
	transition: 900ms;
 }
.helo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
 .helo:not(h1){
 	padding: 20px 14vw 100px 14vw;
	text-align: center;
	font-weight: 200;
	color: #000;
	font-size: 20pt;
 }
 .helo h1{
 	font-weight: 900; 
 	font-size: 100pt;
 	text-align: center;
 }

 .about1{
 	background: #fbfbfb;
 	padding: 100px 26vw 100px 26vw;
 	text-align: center;
	font-weight: 200;
	color: #000;
	font-size: 20pt;
 }
 .about2{
 	background: #000;
 	padding: 100px 5.7vw 100px 5.7vw;
 	text-align: center;
	font-weight: 200;
	color: #fff;
	font-size: 20pt;
 }

.questions{
 	background: url(../img/questionbg.jpg) no-repeat center top / cover;
 	overflow: hidden;
 	position: relative;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
	align-items: center;
}

.gradient3{
	width: 100%;
 	height: 100%;
 	background: radial-gradient(300% 90%,rgba(0, 0, 0, 0.5),rgba(250,250,250,0.1));
 	position: absolute;
 	z-index: 0;
 	opacity: 0;
 	transition: 1400ms;
}

.modal{
	display: none;
	margin-top: 10vw;
	border-radius: 8%;
	background: #fff;
	text-align: center;
	padding: 4vw 5vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 40000;
	font-size: 28pt;
	font-weight: 200;
        transition: 400ms;
}
.exit{
	position: absolute;
	top: 0.5vw;
	right: 3vw;
	height: 50px;
	width: 50px;
	color: #000;
	opacity: 0.5;
	cursor: pointer;
}

.exit:hover{
	opacity: 1;
}

.question_container{
	display: flex;
	margin-top: 200%;
	padding: 100px 50px 100px 50px;
 	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	overflow: hidden;
	transition: 1000ms;
	-webkit-transition: 1000ms;
    -o-transition: 1000ms;
    -moz-transition: 1000ms;
}

.questionbox{
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	overflow: hidden;
	/*position: relative;*/
	cursor: pointer;
}
.questionbox h1{
	font-weight: 300;
	font-size: 40pt;
	color: #fff;
}
.questionbox a{
	text-decoration: none;
	font-weight: 200;
	font-size: 20pt;
	color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.questionbox a:hover{
	border-bottom: 1px solid #fff;
}
.gradient2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
 	height: 100%;
 	background: radial-gradient(300% 90%,rgba(0, 0, 0, 0.5),rgba(250,250,250,0.1));
 	/*position: absolute;*/
 	z-index: 0;
 	opacity: 1;
 	transition: 2400ms;
 	-webkit-transition: 900ms;
    -o-transition: 900ms;
    -moz-transition: 900ms;
}
.questions_line{
	display: flex;
 	justify-content: center;
	align-items: center;
}
.box1{
 	background: url(../img/3.jpg) no-repeat center top / cover;
 	width: 40vw;
 	height: 40vw;
 	margin: 10px;
}
.box2{
	background: url(../img/4.jpg) no-repeat center top / cover;
 	width: 40vw;
 	height: 40vw;
 	margin: 10px;
}
.box3{
 	background: url(../img/5.jpg) no-repeat center top / cover;
 	height: 30vw;
 	margin-top: 60px;
}

.just_photos{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 70px 50px 70px 50px;
}
.just_photos img:not(:last-child){
	margin-right: 40px;
	width: 20vw;
	height: auto;
}

.just_photos img:last-child{
	width: 20vw;
	height: auto;
}
.social{
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1a1a1a;
}
.social img{
	height: 60px;
	margin-left: 20px;
}
.social img:hover{
	opacity: 0.7;
}

@media screen and (max-width:1400px){
	.menu:nth-child(2){
		margin: 0 16vw;
	}
	.nav{
		font-size: 16pt;
	}
	.logo{
		font-size: 25pt;
	}
	.neple_layer{
 		font-size: 140pt;
 	}
 	 .helo:not(h1){
		font-size: 12pt;
	}

	.helo h1{
 		font-size: 60pt;
 	}

 	.about1, .about2{
		font-size: 12pt;
	}
	.questionbox h1{
		font-size: 28pt;
	}
	.questionbox a{
		font-size: 12pt;
	}
	.modal{
		font-size: 23pt;
	}
}

@media screen and (max-width:1000px){
	.menu:nth-child(2){
		margin: 0 13vw;
	}
	.about1{
 		background: #fbfbfb;
 		padding: 100px 26vw 100px 26vw;
 	}
 	.about2{
 		padding: 60px 5.7vw 60px 5.7vw;
	}	
	.helo{
		padding: 20px 14vw 60px 14vw;	
	}
	.main_text hr{
 		margin-top: -10px;
	}
	.modal{
		font-size: 20pt;
	}
}
@media screen and (max-width:800px){
	.helo:not(h1){
 		padding: 10px 50px 20px 50px;
 		font-size: 8pt;
 	}
	.nav{
		font-size: 12pt;
		flex-direction: column;
	}
	.logo{
		position: static;
		text-align: center;
		font-size: 17pt;
	}
	.neple_layer{
 		font-size: 80pt;
 	}
	.helo{
		padding: 10px 14vw 10px 14vw;	
	}
	.helo h1{
 		font-size: 35pt;
 	}
 	.about1, .about2{
		font-size: 8pt;
	}
	.questionbox h1{
		font-size: 20pt;
	}
	.questionbox a{
		font-size: 8pt;
	}
	.menu:nth-child(2){
		margin: 0 24vw;
	}
	.modal{
		font-size: 15pt;
	}
	.exit{
		right: 1vw;
	}
}

@media screen and (max-width:700px){
	.neple_layer{
 		font-size: 60pt;
 	}
 	.social img{
 		height: 6vw;
 		width: 6vw;
 	}
	.about1{
 		background: #fbfbfb;
 		padding: 10px 26vw 10px 26vw;
 	}
 	.about2{
 		padding: 10px 5.7vw 10px 5.7vw;
	}	
	.helo{
		padding: 8px 14vw 10px 14vw;	
	}
	.questionbox h1{
		font-size: 12pt;
	}
	.questionbox a{
		font-size: 8pt;
	}
	.modal{
		font-size: 10pt;
	}
}

@media screen and (max-width:400px){
	.neple_layer{
		font-size: 20pt;
	}
	.main_text hr{
 		margin-top: 0px;
	}
	.menu:nth-child(2){
		margin: 0 15vw;
	}
	.modal{
		font-size: 10pt;
	}
	.exit{
		right: 0;
	}
}
